.resumeOnlineMain {
    width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}

.shadowSeparatorBox {
    padding: 27px 0 70px;
    background: url(http://aimya.svitla.com/images/bg/bottom-shadow-line.png) no-repeat center bottom;
    min-height: 400px;
}
.shadowSeparator {
    padding: 13px 0 0 0;
    background: url(http://aimya.svitla.com/images/bg/top-shadow-line.png) no-repeat center 0;
    margin-bottom: 9px;
}
.shadowSeparatorBoxMid {
    padding: 18px 0 24px 0;
    background: url(http://aimya.svitla.com/images/bg/bottom-shadow-line.png) no-repeat center bottom;
}
.title{
    margin-bottom: 32px;
    font: 30px 'dosissemibold';
    text-align: center;
}

.titleInfo{
    font: 700 13px arial;
    margin: 0 auto;
    padding-top: 5px;
    min-height: 15px;
    display: inline-block;
    width: auto;
}

.titleInfo .degree{
    background: url(http://aimya.svitla.com/img/design/accountLayout/glyphicons/degree.png) no-repeat scroll 0 42% transparent;
    padding-left:15px;
    margin-left: 10px;
    float:left;
}
.titleInfo .language{
    background: url(http://aimya.svitla.com/img/design/accountLayout/glyphicons/language.png) no-repeat scroll 0 42% transparent;
    padding-left:15px;
    margin-left: 10px;
    float:left;
}
.titlesWrapper {
    text-align: center;
}
h1{
    font-size: 18px;
    line-height: 16px;
    color: #1d3300;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'helvetica-light-rnormal';
    padding-top: 47px;
}
.textBlock{
    padding: 29px 0 0 44px;
    font: 16px arial;
}
.resumeItemCertificates{
    padding: 29px 0 0 44px;
    font: 16px arial;
}