/* FONTS*/
@font-face {
    font-family: helvetica;
    src: url('fonts/Helvetica.ttf');
}
@font-face {
    font-family: dosis-semibold;
    src: url('fonts/Dosis-Light.ttf');
}
@font-face {
    font-family: dosis-semibold-middle;
    src: url('fonts/Dosis-SemiBold.ttf');
}
/*global*/
html{
    height: 100%;
}
body{
    font-family: helvetica;
    min-width: 1200px;
    background: url('../img/design/mainPage/background.png') no-repeat center top;
    background-color: #d5e4ad;
    color:#446158;
    height: 100%;
    margin: 0;
    padding: 0;
}

form{

    margin-bottom:0;
}
#wrapper{
    height: auto !important;
    min-height: 90%;
    padding: 0;
}
.footer {
    color: #A1B368;
    font: 10px helvetica;
    left: 8.6%;
    margin-top: 25px;
    padding: 0;
    position: relative;
    display: inline-block;
}
fieldset .mainText{
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    width: 400px;
    color:#2e3911;
}
fieldset legend{
    margin-bottom: 10px;
    border: none !important;
}

li{
    list-style-type: none;
}
.layout-body{
    margin-top:70px;
}


.strictFont{
font:15px dosis-semibold-middle;
    color:#4d8801;
    text-shadow: 1px 0 1px rgba(255, 255, 255, 1);
}

/*Inputs*/
.regTextInput{
    width:165px;
    height: 25px !important;
    border: 1px solid #95a861 !important;
    border-radius: 0 !important;
}
.logTextInput{
    padding:2px !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 15px;
    width: 165px;
    height: 19px !important;
}

.regTextInput:focus{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px rgba(254, 255, 255, 1) !important;
    outline:none;
    border:1px solid #6E8138 !important;
}
.logTextInput:focus{
    border:1px solid #536e10 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(254, 252, 215, 1) !important;
}
.buttonBar{
    border-top-image: url('../img/design/mainPage/shadow_separator.png');

}
.buttonBar label{
    font:13px dosis-semibold-middle;
    color:white;

}
/*twitter*/
.hero-unit{
    padding: 30px 60px;
}
.no-space [class*="span"] {
    margin-left: 0;
}

/*header*/
#loginFormHolder input {
    outline:1px #fefcd7;
}
.header {
    background-image: url('../img/design/mainPage/header.png');
    background-repeat: repeat-x;
    height:85px;
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.6); /* Для Firefox */
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.6); /* Для Safari и Chrome */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

 .logo {
   display: inline-block;
}
.header .logo .bigLogoImg{
    background-image: url('../img/design/mainPage/big_aimya_logo.png');
    width: 196px;
    height: 61px;
    margin-top: 11px;
}
.headerInside{
    background-image: url('../img/design/mainPage/header.png');
    background-repeat: repeat-x;
    height:55px;
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.6); /* Для Firefox */
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.6); /* Для Safari и Chrome */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.headerInside .logo .smallLogoImg{
    background-image: url('../img/design/mainPage/small_aimya_logo.png');
    height: 44px;
    margin-top: 5px;
    width: 144px;
}
#globalNav {
    margin-top: 18px;
    float: right;
    margin-right: 19.5%;
    font: 12px dosis-semibold-middle;
    height:5%;
}
#globalNav a{color:#d7e4b9;}
#globalNav ul {
    margin: 0;
    padding: 0;
}

#globalNav ul li{
    display: inline;
    margin-left: 16px;
    padding-left: 12px;
    background: url('../img/design/mainPage/navSeparator.png') no-repeat 0 0;
}
#globalNav ul li:first-child {
    background: none;
}
.shadowSeparator{
    background: url('../img/design/mainPage/shadow_separator.png') no-repeat;
    width:100%;
    height: 10px;
    margin-bottom: 15px;
}
.galleryMain{
    background: url('../img/design/mainPage/background_slider.png') no-repeat;
    width:400px;
    height:290px;
    margin-top:25px;
}
/*login*/
#loginFormHolder{
    margin-top:1%;
    color:white;
}
#loginFormHolder input{
    font-size:12px;
}

#loginFormHolder a{
    color:white;
}
#loginFormHolder  span {
    color: white;
    font: 11px Helvetica;
    position: relative;
    text-shadow: 1px 1px 1px #4E6C06;
    top: 3px;
    width: 206px;
}

#loginFormHolder input[type="text"], #loginFormHolder input[type="password"]{
    border: 1px solid #536E10;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

#loginFormHolder input[type="checkbox"]{
    float:left;
    margin: 1px -12px 0 0;
    position: relative;

    display: block;
    opacity: 0;
}
#loginFormHolder input[type="checkbox"]+label{
    color:#DEE6BF;
    font-size:10px;
    bottom: 1px;
    padding: 1px 0 0 15px;
}
#loginFormHolder .rememberMe{
    background: url('../img/design/mainPage/keepSignedCheclbox.png') left center no-repeat;
    float: left;
    height: 13px;
    margin: 1px 4px 0 0;
    width: 12px;
}
#loginFormHolder input[type="checkbox"]:checked + .rememberMe{
    background: url('../img/design/mainPage/keepSignedCheclbox.png') right center no-repeat;
}
#loginFormHolder label, #loginFormHolder a{
    float:left;
    margin-right: 93px;
    font-size:10px;
    line-height: 1.9em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
#loginFormHolder label{
    color:#ACC56B;
}
#loginFormHolder a{
    color:#ACD330;
}

#loginFormHolder #login{

}
#loginFormHolder .pass{
    margin-left: 115px;
}

.btnLogin{
    background: url('../img/design/mainPage/buttons/loginBut.png') no-repeat;
    text-shadow: 2px 1px 0 rgba(44, 61, 00, 0.4);
    width: 65px !important;
    height:30px;
    border: none;
    color:white;
    font:12px dosis-semibold;
}
.btnLogin:hover{
    background-image: url('../img/design/mainPage/buttons/loginButOver.png')
}
/*registration*/
#registrationFormHolder{

    float:left;
    margin-left: 3%;
}
.input-error{
    box-shadow: 0 0 3px #F06062 !important;
    border: 1px solid #BB3437 !important;
}
#registrationFormHolder .error{
    font: 12px Helvetica;
    display: block;
    float: left;
    position: relative;
    right: 107px;
    color:#B0060F;
    top:10px;
}

#signUp{
    height: 600px;
    width: 640px;
}

#registrationFormHolder .regSelect{
    width:179px;
    border: 1px solid #95a861 !important;
    height: 33px !important;
    border-radius: 0;


}
#registrationFormHolder dt,#registrationFormHolder dd{
    float:left;

}
#registrationFormHolder dt{
    width:230px;
}
#registrationFormHolder dd{
    position: relative;
    right: 121px;
    width: 180px;
}
#registrationFormHolder label{
    width: 109px;
    font:12px helvetica;
    margin-top:10px;
    color:#324503;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}
#registrationFormHolder .buttonBar input[type="radio"]{
    display: none;
}
#registrationFormHolder .buttonBar{
    margin: 0 0 15px 22px;
}
#registrationFormHolder .buttonBar label{
    word-spacing: 2px;
    width: 135px !important;
    height:30px;
    border: none;
    font:12px dosis-semibold;
    text-align: center;
    display: inline-block;

    margin:0 29px 15px 0;
    line-height:31px !important;

}
#registrationFormHolder .buttonBar .checked{
    background: url('../img/design/mainPage/buttons/teacherBut.png') no-repeat;
    color:#fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}
#registrationFormHolder .buttonBar label:not(.checked){
    background: url('../img/design/mainPage/buttons/studentBut.png') no-repeat;
    color:#324a0c;
    text-shadow: 1px 1px 0 rgba(222,236,182,0.9);
    cursor: pointer;
}
#registrationFormHolder .buttonBar label:not(.checked):hover{
    background: url('../img/design/mainPage/buttons/teacherButOver.png') no-repeat;
    color:white;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
}
#gender-element label{
    float: left;
    height: 19px;
    line-height: 11px;
    margin: 14px 14px 0 0;
    width: 63px;
}
#lastname{
    margin-bottom:5px;
}
#registrationFormHolder #gender-element input{
    margin:0 4px 0 0;
}
#registrationFormHolder #gender-label{
    bottom: 4px;
    position: relative;
}
#registrationFormHolder #gender-element{
    position: relative;
    bottom: 5px;
}

#registrationFormHolder  #gender-element input[type="radio"]{
    opacity: 0;
}

#registrationFormHolder #gender-element .checked{
    background: url('../img/design/mainPage/buttons/genderChecked.png') no-repeat;

}
#registrationFormHolder #gender-element label:not(.checked){
    background: url('../img/design/mainPage/buttons/gender.png') no-repeat;
}


.btnSignup{
    background: url('../img/design/mainPage/buttons/signUpBut.png') no-repeat;
    width: 85px !important;
    height:30px;
    border: none;
    color:white;
    font:12px dosis-semibold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}
.btnSignup:hover{
    background: url('../img/design/mainPage/buttons/signUpButOver.png') no-repeat;
}
.signup-element{
    margin-left: 213px;
    margin-top: 12px;
}
/*Social buttons*/

.twitterIcon{
    background-image: url('../img/design/socialButtons/social_icons.png');
    background-position: 0 0;
    height:18px;
    width:18px;
    left: 25px;
    position: relative;
    width: 18px;
    bottom: 33px;
}
.facebookIcon{
    background-image: url('../img/design/socialButtons/social_icons.png');
    background-position: 50% 0;
    height:18px;
    width:18px;
    bottom: 51px;
    position: relative;
    width: 18px;
    left: 52px;
}
.linkedInIcon{
    background-image: url('../img/design/socialButtons/social_icons.png');
    background-position: 100% 0;
    height:18px;
    width:18px;
    left: 79px;
    position: relative;
    width: 18px;
    bottom: 69px;
}
.twitterIcon:hover{
    background-position: 0 100%;
}
.facebookIcon:hover{
    background-position: 50% 100%;
}
.linkedInIcon:hover{
    background-position: 100% 100%;
}
/*account*/


#intro, #description{
    width: 820px;
}

#saveProfile{
    margin: 0 auto;
}

.service {
    margin: 0 5% 5% 5%;
    border-bottom: 1px solid #ccc;
}
#addService
{
    display: none;
}

#addMoreServices{
    margin: 1% 0 1%;
}

/*Availability tab*/

.table td{
    vertical-align: middle;

}
/*Users tab*/

.userRelations .blockUser, .userRelations .deleteUser{
    display: inline-block;
}
/* resume*/
.experienceBody, .educationBody{
    padding: 10px;
    border:1px solid #c0c0c0;
    margin:5px;
}
.resumePhoto
{
width:100px;
}


.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}



/*Account layout*/
.accountWrapper {
    height: 100%

}
.accountWrapper .leftBlockProfile{
    min-width: 190px;
    max-width:250px;
    background-color: #eae5cf;
    height: 100%;

}
/*Left Navigation Bar */

.leftBlockProfile{
    -webkit-box-shadow: -6px 9px 6px -6px #888888 inset;
    box-shadow:  -6px 9px 6px -6px #888888 inset;
    -moz-box-shadow: -6px 9px 6px -6px #888888 inset;
}
.leftBlockProfile .leftNavigation ul li:not(.active){

    -webkit-box-shadow: -6px 0 6px -6px #888888 inset;
    box-shadow:  -6px 0 6px -6px #888888 inset;
    -moz-box-shadow: -6px 0 6px -6px #888888 inset;
}
.leftBlockProfile img{
    margin-top: 10px;
    max-height: 140px;
    width: 140px;
}
.leftBlockProfile{
    text-align: center;
}
.profileTab{
    margin-left: 30px;
}
.profileTab h3{
    margin: 35px 0 0 0;
  font:15px helvetica;
    position: relative;
    right: 28px;
    color:#4a4322;
}
.profileTab h5{
    margin: 0;
    font:11px helvetica;
    position: relative;
    right: 50px;
    color:#7f7867;
}
.leftNavigation
{
    margin-left: 15px !important;
    margin-top: 4%;
}
.leftBlockProfile .leftNavigation a{
    border:none !important;
    font:14px dosis-semibold-middle;
    text-align: left;
    color:#69675c;
    border-radius: 0;
    background:none;
}
.leftBlockProfile .leftNavigation  a:hover{
    background:none;
}

.leftBlockProfile .leftNavigation li:hover{
    background-color:#f6f4ea;
}
.leftBlockProfile .leftNavigation ul{
    float:right;
    width:175px;
}
.leftBlockProfile .leftNavigation ul li{
    background-color:#f5f2e7;
    border-radius: 4px 0 0 4px;
    margin:2px 0;
}
.leftBlockProfile .leftNavigation ul .active{
    border-radius: 4px 0 0 4px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(247, 248, 248) 100%);
    background: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(247, 248, 248) 100%);
    background: -o-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(247, 248, 248) 100%);
    background: -ms-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(247, 248, 248) 100%);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(247, 248, 248) 100%);

}
.leftBlockProfile .leftNavigation ul  .active a{
    margin-left: 12px;
}

.accountWrapper .rightBlockProfile {
   max-width:83%;
    min-width:53%;
    width:83%;
}
.leftNavPhoto{
  background-image: url('../img/design/accountLayout/leftNavPhoto.png');
    width:160px;
    height: 160px;
    margin: 0 auto;
}

.mainBlockProfile{
    margin:35px 15px !important;
    max-width:85% !important;
}
.fill{
    background-color: #f7f8f8;
    height: 100%;
    -webkit-box-shadow: 0 9px 6px -6px #888888 inset;
    box-shadow:  0 9px 6px -6px #888888 inset;
    -moz-box-shadow: 0 9px 6px -6px #888888 inset;
}

.leftNavFooter{
    bottom: -30px;
    height: 12%;
    position: absolute;
    left: 82px;
}

.mainBlockProfile  .ui-tabs-panel{
    background-color:white !important;
    -webkit-box-shadow: 0 0 3px 0 #888888;
    box-shadow: 0 0 3px 0 #888888;
    -moz-box-shadow: 0 0 3px 0 #888888;
    min-height: 500px;
}
.mainBlockProfile .ui-tabs .ui-tabs-nav{
    padding-left:8px !important;
    position: relative;
    top:1px;
}
.mainBlockProfile .ui-tabs .ui-tabs-nav li:not(.ui-state-active){
    margin:0;
    border:none !important;
    border-radius: 2px 2px 0 0 !important;
    background: none !important;
    -webkit-box-shadow: 4px -5px 5px -5px #888888 inset;
    box-shadow: 4px -5px 5px -5px #888888 inset;
    -moz-box-shadow: 4px -5px 5px -5px #888888 inset;
    background: #f0eed9 !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0eed9 0%, #d0cc9d 100%)!important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0eed9), color-stop(100%,#d0cc9d)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f0eed9 0%,#d0cc9d 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f0eed9 0%,#d0cc9d 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f0eed9 0%,#d0cc9d 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #f0eed9 0%,#d0cc9d 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0eed9', endColorstr='#d0cc9d',GradientType=0 ) !important; /* IE6-9 */

}
.mainBlockProfile .ui-tabs .ui-tabs-nav li.ui-state-active{
    background: none !important;
    border:none !important;
    margin:0;
    background-color: white !important;
}
.mainBlockProfile .ui-widget-header,.mainBlockProfile .ui-widget-content {
    border:none;
    background: none;
}
