/*global*/
li{
list-style-type: none;
}
body{
    background-color: #b8d3c7;
}
/* FONTS*/
@font-face {
    font-family: lobster1;
    src: url('fonts/Lobster_1_4.otf');
}
@font-face {
    font-family: krungthep;
    src: url('fonts/Krungthep.ttf');
}
/*twitter*/
.hero-unit{
    padding: 30px 60px;
}
.no-space [class*="span"] {
    margin-left: 0;
}

/*header*/
.header {
    background-image: url('../img/design/header.png');
    background-repeat: repeat-x;

}
.header .logo{
    position: relative;
    bottom: 10px;


}
.header .logo a{
    color:#e2e2e2;
    text-decoration: none;
}
.header .logo a h1{
    color:#e2e2e2;
    font:45pt lobster1;
    text-shadow: 1px 1px 2px black;
}
.header .logo h1 span {
    font: 25pt krungthep sans-serif;
    color:#7caa9f;
    text-shadow: 1px 1px 0 black;

}
#globalNav {

    float: right;
    padding-top: 22px;
}

#globalNav ul {
    margin: 0;
    padding: 0;
}

#globalNav ul li{
    border-left:1px solid black;
    padding-left: 6px;
    display: inline;
}
#globalNav ul li:first-child {
    border-left: medium none;
}

/*login*/
#loginFormHolder{
    margin-top:1%;
    color:white;
}
#loginFormHolder a{
    color:white;
}
#loginFormHolder  span {
    width:206px;
    color:white;
}
#loginFormHolder #remember{
    float:left;
    margin-right: 5px;
}
#loginFormHolder label{
    float:left;
    margin-right: 90px;

}
#loginFormHolder #login{
    margin-bottom: 9px;
}
/*registration*/
#registrationFormHolder .buttonBar input[type="radio"]{
display: none;
}
#registrationFormHolder .buttonBar{
    margin: 0 0 15px 22px;
}
#registrationFormHolder .buttonBar label{
    display: inline;
    border:2px solid #666;
    padding:5px;
    margin:3px;
}
#registrationFormHolder .buttonBar .checked{
    background-color: #AFE0A3;
}

#SignUp-element{
    margin-left: 148px;
}


/*account*/


.leftBlockProfile{
    text-align: center;
}
#intro, #description{
    width: 820px;
}

#saveProfile{
    margin: 0 auto;
}

.service {
    margin: 0 5% 5% 5%;
    border-bottom: 1px solid #ccc;
}
#addService
{
    display: none;
}

#addMoreServices{
    margin: 1% 0 1%;
}

/*Availability tab*/

.table td{
    vertical-align: middle;

}

/*Left Navigation Bar */
.leftNavigation
{
    margin-left: 15px !important;
    margin-top: 4%;
}