/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace views "com.aimialesson.UI.views.*";
/*
@font-face {
	src: url("location") | local("name");
	fontFamily: alias;
	[fontStyle: normal | italic | oblique;]
	[fontWeight: normal | bold | heavy;]
	[advancedAntiAliasing: true | false;]
}*/

@font-face {
	src: url("flashassets/fonts/Helvetica/HelveticaNeueLTStd-Md.ttf");
	fontFamily: HelveticaFont;
	fontStyle: normal;
	fontWeight: light;
}

@font-face {
	src: url("flashassets/fonts/Helvetica/HelveticaNeueLTStd-Md.ttf");
	fontFamily: ArialCus;
	fontStyle: normal;
	fontWeight: normal;
}

@font-face {
	src: url("flashassets/fonts/Helvetica/HelveticaNeueLTStd-Md 2.ttf");
	fontFamily: HelveticaRoman;
	fontStyle: normal;
	fontWeight: normal;
}

@font-face {
	src: url("flashassets/fonts/Dosis/Dosis-SemiBold.ttf");
	fontFamily: Dosis;
	fontStyle: normal;
	fontWeight: normal;
}

/*@font-face {
	src: Arial;
	fontFamily: Arial;
	fontStyle: normal;
	fontWeight: normal;
}*/

.ButtonLabelStyle {
	fontFamily: Dosis;
	fontStyle: normal;
	fontWeight: normal;
	color: #1D3300;
	fontSize: 11;
}

.StopButtonLabelStyle {
	fontFamily: Dosis;
	fontStyle: normal;
	fontWeight: normal;
	color: #FFFFFF;
	fontSize: 12;
}

.ButtonYesLabelStyle {
	fontFamily: Dosis;
	fontStyle: normal;
	fontWeight: normal;
	color: #334911;
	fontSize: 12;
}

.ButtonNoLabelStyle {
	fontFamily: Dosis;
	fontStyle: normal;
	fontWeight: normal;
	color: #FFFFFF;
	fontSize: 11;
}

.PreloaderImageTextStyle {
	fontFamily: Dosis;
	fontStyle: normal;
	fontWeight: normal;
	color: #5A5A5A;
	fontSize: 24;
}

.HeaderStyle {
	fontFamily: Arial;
	fontStyle: normal;
	fontWeight: normal;
	color: #1D3300;
	fontSize: 12;
}

.NameStyle {
	fontFamily: Arial;
	fontStyle: normal;
	fontWeight: normal;
	color: #454138;
	fontSize: 14;
}

.SmallNameStyle {
	fontFamily: Arial;
	fontStyle: normal;
	fontWeight: normal;
	color: #000000;
	fontSize: 13;
}

.TimeTextStyle {
	fontFamily: Arial;
	fontStyle: normal;
	fontWeight: normal;
	color: #000000;
	fontSize: 12;
}

.TimeMinStyle {
	fontFamily: Arial;
	fontStyle: normal;
	fontWeight: normal;
	color: #000000;
	fontSize: 11;
}

.TimeValueStyle {
	fontFamily: Arial;
	fontStyle: normal;
	fontWeight: normal;
	color: #C24040;
	fontSize: 15;
}

.DescriptionStyle {
	fontFamily: Arial;
	fontStyle: italic;
	fontWeight: normal;
	color: #1E1E1E;
	fontSize: 13;
}

.RoleStyle {
	fontFamily: Arial;
	fontStyle: normal;
	fontWeight: normal;
	color: #7E7B74;
	fontSize: 11;
}

.NoteHeaderStyle {
	fontFamily: Arial;
	fontStyle: normal;
	fontWeight: normal;
	color: #434343;
	fontSize: 11;
}

.NoteBodyStyle {
	fontFamily: Arial;
	fontStyle: normal;
	fontWeight: normal;
	color: #282828;
	fontSize: 12;
}

.NoteTimeStyle {
	fontFamily: Arial;
	fontStyle: normal;
	fontWeight: normal;
	color: #858585;
	fontSize: 11;
}

.EnterNoteStyle {
	fontFamily: Arial;
	fontStyle: normal;
	fontWeight: normal;
	color: #666666;
	fontSize: 12;
}

.PopUpTitleStyle {
	fontFamily: Arial;
	fontStyle: normal;
	fontWeight: normal;
	color: #fefefe;
	fontSize: 12;
}

.PopUpTextStyle {
	fontFamily: Arial;
	fontStyle: normal;
	fontWeight: normal;
	color: #000000;
	fontSize: 12;
}

.PresentationProgressTextStyle {
	fontFamily: Arial;
	fontStyle: normal;
	fontWeight: normal;
	color: #000000;
	fontSize: 11;
}


views|NotesUI {
	skinClass: ClassReference("com.aimialesson.UI.skins.NotesSkin");
}
views|HeaderUI {
	skinClass: ClassReference("com.aimialesson.UI.skins.HeaderSkin");
}
views|VideoChatUI {
	skinClass: ClassReference("com.aimialesson.UI.skins.VideoChatSkin");
}
views|TPresentationUI {
	skinClass: ClassReference("com.aimialesson.UI.skins.TPresentationSkin");
}
views|PresentationUI {
	skinClass: ClassReference("com.aimialesson.UI.skins.PresentationSkin");
}
views|UploadUI {
	skinClass: ClassReference("com.aimialesson.UI.skins.UploadSkin");
}

.title{
	font-family :Verdana;
	font-size :10;
	font-weight :bold;
	color :#ffffff;
}